body {
	background-color: #ffffff;
	font-size: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	background-color: #2f2fa2;
	width: 100%;
	padding: 0.5em 0;
}

.logo {
	font-size: 1.25em;
	color: #f64c72;
}

#nav-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header-img {
	height: 3em;
	width: 3em;
	margin: auto;
	display: block;
}

.nav-link {
	color: white;
	text-decoration: none;
	padding: 0 1em;
}

main {
	margin-top: 10em;
}

h1 {
	font-size: 1.5em;
}

.media-frame {
	padding: 5em 0;
	border: 3px solid #f64c72;
	color: #f64c72;
	width: 80%;
	margin: auto;
}

.feature-section-tiles {
	width: 100%;
	display: grid;
	grid-template-columns: 20em;
	grid-template-rows: repeat(3, 20em);
	justify-content: center;

}

.feature {
	margin: 10px;
	border: 3px solid #2f2fa2;
	color: #2f2fa2;
}

.feature-icon {
	padding: 4em;
}


.purple {
	border: 3px solid #553d67;
	color: #553d65;
}

.send-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.send-button {
	background-color: #f64c72;
	color: white;
	padding: 0.5em;
}

.footer {
	background-color: #2f2fa2;
	padding: 2em;
	margin: 0;
	color: white;
}
@media (min-width: 700px) {
	#header {
		display: block;
	}

	
	#nav-bar {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	h1 {
		font-size: 2em;
	}

	main {
		margin-top: 7em;
	}

	.feature-section-tiles {
		grid-template-rows: auto;
		grid-template-columns: repeat(3, minmax(1em, 20em));
		justify-content: center;
	}

	.feature-img {
		width: 10em;
	}
	.feture-icon {
		width: 10em;
	}

	.send-form {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
